/* font-family */

@font-face {
  font-family: mwfm;
  src: url(/font/mwfmdl2-v3.54.woff);
}

@font-face {
  font-family: mwff;
  src: url(/font/MWFFluentIcons.woff2);
}

@font-face {
  font-family: latest;
  src: url(/font/latest.woff2);
}

/* universal */

* {
  margin: 0;
  padding: 0;
}

/* head */

.nav-main {
  margin-bottom: 34px;
  border-bottom: 1px solid #e6e6e6;
  height: 53px;
  background: #fff;
}

.nav {
  position: relative;
  padding: 2px 0;
  display: flex;
}

.microsoft-logo {
  margin: 1px;
  padding: 9px 4px 10px 4px;
  display: block;
  position: absolute;
  left: calc(50% - 60px);
  height: auto;
}

.microsoft-logo img {
  width: 108px;
}

.search-button {
  left: 1px;
  padding: 16px 8px 8px 0px;
  margin-left: 2px;
  height: 32px;
  background: transparent;
  margin-right: 6px;
  white-space: nowrap;
  line-height: 18px;
  border: none;
}

.search-button::after {
  white-space: nowrap;
  line-height: 18px;
  font-family: mwfm;
  content: "";
  border: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 7px;
  position: relative;
}

.azure-b {
  left: 0;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  display: block !important;
  height: 33px;
  position: absolute;
  width: 100%;
  top: 54px;
}

.azure-button {
  background-color: transparent;
  border: 0;
  color: #000;
  display: block !important;
  font-weight: 600;
  height: 100%;
  margin: 0 1px;
  padding: 0 15px;
  text-align: left;
  font-size: 15px;
  font-family: latest;
}

.azure-button::after {
  font-family: mwfm;
  content: "";
  font-size: 12px;
  font-weight: 700;
  padding-left: 12px;
  position: relative;
  top: 2px;
}

/* body */

.top-section {
  padding-bottom: 85px;
  background-color: #f4fafd;
}

/* banner */

.banner {
  overflow: hidden;
  max-height: 100%;
  display: block;
  background-color: #f4fafd;
}

.banner-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container-first {
  /* width: 100%; */
  padding-inline: 16px;
  margin-inline: auto;
  background-color: #f4fafd;
}

.contain-row {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -4px;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-inline: 4px;
}

.contain-sec {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
  text-align: left;
}

.cfir-text {
  display: block;
  margin-inline: 0px;
  padding-block: 0px;
}

.innovation-head {
  margin-bottom: 12px;
  color: #17253d;
  font-family: latest;
  font-weight: 600;
  letter-spacing: 0.96px;
  line-height: 16px;
  font-size: 12px;
}

.cfir-text h1 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 48px;
  color: #0e1726;
  font-family: latest;
  display: block;
}

.cfir-text p {
  font-weight: 400;
  font-family: latest;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-size: 16px;
  color: #17253d;
  margin-top: 16px;
  padding-right: 16px;
}

.cfir-text-bottom {
  margin-top: 24px;
}

.cfir-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cfir-start {
  white-space: normal;
  border: 2px solid transparent;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  line-height: 22px;
  background-color: #0078d4;
}

.csec-start {
  white-space: normal;
  border: 2px solid transparent;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  line-height: 22px;
  background-color: #0078d4;
}

.ctri-start{
  white-space: normal;
  border: 2px solid transparent;
  padding: 12px 12px;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  line-height: 22px;
  background-color: #0078d4;
}

.fifth-button {
  white-space: normal;
  border: 2px solid transparent;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  line-height: 22px;
  background-color: #0078d4;
  width: 100%;
}

.cfir-start span {
  font-family: latest;
  line-height: 22px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-align: center;
}

.cfir-explore {
  background-color: transparent;
  border: 2px solid #17253d;
  line-height: 22px;
  border-radius: 8px;
  display: inline-block;
  padding: 12px;
  white-space: normal;
}

.cfir-explore span {
  color: #004275;
  font-size: 15px;
  font-family: latest;
  font-weight: 600;
  letter-spacing: -0.3px;
  text-align: center;
  line-height: 22px;
}

.cfir-img {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.cfir-img img {
  max-width: 100%;
  object-fit: fill;
  border-radius: 8px;
}

/* body-section */

.featured-main {
  align-items: center;
  /* display: flex !important; */
  height: 51px;
  border-radius: 8px;
  /* flex-direction: column; */
  background-color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
  width: 100%;
  /* margin-inline: auto; */
  flex-grow: 1;
}

.news-main {
  margin: 4px;
  display: block;
  /* width: 100% !important; */
}

.news {
  padding: 12px 12px 12px 12px;
  gap: 8px;
  align-items: center;
  display: flex;
}

.news span {
  flex-grow: 1 !important;
  display: flex;
  flex-direction: column !important;
  row-gap: 4px;
  text-align: left;
  color: #004275;
  font-family: latest;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: normal;
}

.blue-arrow::before {
  font-family: mwff;
  content: "";
  font-weight: 400;
  line-height: 1;
  color: #0078d4;
  font-size: 16px;
}

.blue-line {
  height: 4px;
  width: 100%;
  background-color: #004275;
}

.ai-main {
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/54300-AI-Powered-Assistant-Background-1600x320?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=320&qlt=100&fit=constrain);
  object-fit: cover;
  height: 100%;
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  text-align: left;
  align-items: normal;
}

.ai-ban {
  background-image: linear-gradient(rgb(0, 41, 72) 0%, rgb(0, 66, 117) 98.96%);
  padding-block-start: 25px;
  padding-block-end: 24px;
  padding-inline: 16px;
}

.ai-layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ai-desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  text-align: left;
  opacity: 1;
}

.desc-sec {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.desc-top {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.desc-img {
  height: 50px;
  max-width: 100%;
  display: block;
  margin-top: 4px;
}

.desc-img img {
  height: 50px;
  max-width: 100%;
}

.desc-head {
  display: flex !important;
  gap: 4px !important;
  flex-direction: column;
}

.desc-head h2 {
  white-space: nowrap !important;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.24px;
  line-height: 28px;
  color: #f4fafd;
  font-family: latest;
}

.desc-head span {
  font-family: latest;
  color: #dceef8;
  font-size: 16px;
  letter-spacing: -0.48px;
  font-weight: 400;
  line-height: 24px;
}

.desc-p {
  font-weight: 400;
  font-size: 12px;
  font-family: latest;
  line-height: 24px;
  color: #dceef8;
  line-height: 16px;
  letter-spacing: -0.36px;
}

.ai-search {
  justify-content: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.ai-bar {
  position: relative;
  width: 100%;
  max-width: 656px;
  border: none;
  background-color: #fefefe;
  border-radius: 8px;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;
  gap: 8px;
  display: flex;
}

.search-ai {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-ai input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding-top: 26px;
  padding-bottom: 23px;
  padding-inline-start: 12px;
  padding-inline-end: 60px;
  border-radius: 8px;
}

input::placeholder {
  font-size: 16px;
  font-family: latest;
}

.input-button {
  padding: 17px 14px 15px 14px;
  background-color: transparent;
  border: none;
}

.input-button svg {
  height: 23.9844px;
  width: 23.9844px;
  fill: #cbd8e2;
}

.search-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-image: linear-gradient(90deg,
      rgb(10, 134, 196) 0.3%,
      rgb(113, 237, 232) 100%);
}

.ai-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
}

.ai-button {
  padding: 8px 10px;
  line-height: 20px;
  width: auto;
  font-weight: 400;
  border-radius: 8px;
  color: #f4fafd;
  font-size: 14px;
  letter-spacing: -0.28px;
  background-color: transparent;
  border: 1px solid #8dc8e8;
  font-family: latest;
}

/* third-container */

.third-container {
  padding-top: 56px;
  padding-bottom: 56px !important;
  position: relative;
  background-color: #f4fafd;
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/54300-Featured-News-Background-1600x826?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=826&qlt=100&fit=constrain);
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: block;
  padding-inline: 16px;
  padding-bottom: 1px;
  margin-inline: auto;
}

.third-head {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -4px;
}

.tri-head {
  padding-inline: 4px;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.tri-hcontent {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  flex-wrap: wrap;
}

.tri-mhead {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.96px;
  line-height: 16px;
  text-align: left;
  font-family: latest;
  color: #17253d;
}

.tri-hcontent h2 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.8px;
  line-height: 40px;
  text-align: left;
  font-family: latest;
}

.third-content {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.third-con {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: normal;
  padding-inline: 4px;
}

.tri-con {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tri-sec {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
}

.tsec-img {
  padding-inline: 8px;
  padding-top: 8px;
  position: relative;
}

.tsec-img img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 2.33333 / 1;
}

.tsec-content {
  padding: 15px 16px 16px 16px;
  justify-content: space-between;
  position: relative;
  display: flex;
  flex: 1 1 auto;
  min-width: 1px;
  height: 100%;
  flex-direction: column;
}

.tsec-mtext {
  align-items: flex-start;
  text-align: left;
  display: flex !important;
  gap: 12px;
  flex-direction: column;
}

.tsec-mtext h3 {
  font-family: latest;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 24px;
  color: #0e1726;
}

.tsec-mtext span {
  font-size: 16px;
  font-family: latest;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  text-align: left;
  color: #17253d;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tsec-bottom {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: normal;
  justify-content: flex-start;
}

.tsec-bot {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-align: left;
}

.right-barrow {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  justify-content: center;
  border-radius: 8px;
  background-color: #0078d4;
  padding: 8px;
}

.right-barrow::before {
  content: "";
  font-family: mwff;
  line-height: 15px;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  letter-spacing: -0.3px;
}

.fabric-news {
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  font-family: latest;
  color: #004275;
  padding-bottom: 2px;
}

/* fourth-container */

.fourth-container {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  background-color: #f4fafd;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  margin-inline: auto;
  box-sizing: border-box;
}

.fourth-head {
  display: flex;
  flex-wrap: wrap;
  margin-inline: -4px;
}

.f-head {
  padding-left: 4px;
  padding-right: 4px;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.fohead {
  display: flex;
  flex-wrap: wrap;
  /* gap: 12px; */
  flex-direction: column;
  box-sizing: border-box;
}

.solutions {
  margin-bottom: 12px;
  font-family: latest;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.96px;
  color: #17253d;
}

.fohead h2 {
  font-family: latest;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
  font-weight: 500;
}

.fourth-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 32px;
}

.fourth-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: normal;
  /* padding-left: 4px;
  padding-right: 4px; */
  width: 100%;
}

.content-scroll {
  width: 100%;
  position: relative;
  max-width: 100%;
}

.button-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  display: block;
}

.scroll-content {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  width: 729px;
  padding-left: 4px;
}

.button-content {
  text-align: center;
  background-color: rgba(0, 85, 151, 0.1);
  color: #004275;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  margin-right: 8px;
  border-radius: 200px;
  border: none;
  box-sizing: border-box;
}

.b-content {
  background-color: #005597;
  color: #fff;
  line-height: 24px;
  padding: 8px 16px 8px 16px;
  text-align: center;
  margin-right: 8px;
  border-radius: 200px;
  box-sizing: border-box;
}

.button-text {
  font-family: latest;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 22px;
}

.scroll-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid #004275;
  border-radius: 200px;
  width: 40px;
  height: 40px;
  background-color: #f4fafd;
  box-sizing: border-box;
}

.scroll-arrow::after {
  font-family: mwff;
  content: "";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #004275;
  box-sizing: border-box;
}

.fourth-mbody {
  flex-grow: 1;
  max-width: 100%;
  padding-right: 4px;
  padding-left: 4px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.fm-body {
  position: relative;
  margin-top: 32px;
  text-align: left;
}

.fourth-bcontent {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.fourth-first-sec {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #bdc5d2;
  width: 100%;
}

.linux-azure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  padding-bottom: 24px;
  align-items: center;
  background-color: transparent;
  border: none;
}

.linux-azure::before {
  font-family: mwff;
  content: "";
  margin-top: auto;
  line-height: 25px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  transform: rotate(180deg);
}

.linux-azure h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: latest;
  text-align: left;
  box-sizing: border-box;
  font-weight: 600;
}

.fourth-sec-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
  text-align: left;
}

.fourth-sec-content p {
  color: #17253d;
  font-size: 16px;
  font-family: latest;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
}

.learn-text {
  margin-bottom: 26px;
}

.learn-more {
  color: #004275;
  font-weight: 600;
  font-size: 14px;
  font-family: latest;
  text-decoration: underline;
  line-height: 20px;
}

.learn-img {
  position: relative;
  width: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
}

.learn-img img {
  aspect-ratio: auto;
  border-radius: 16px;
  width: 100%;
  object-fit: fill;
  box-sizing: border-box;
}

.infrastructure {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #bdc5d2;
  padding-inline: 4px;
}

.ai-infrastructure {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  padding-block: 24px;
  align-items: center;
  border: none;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
}

.ai-infrastructure::before {
  font-family: mwff;
  content: "";
  line-height: 25px;
  font-weight: 400;
  font-size: 16px;
}

.ai-infrastructure h3 {
  font-family: latest;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: normal;
  color: #0e1726;
  line-height: 24px;
  text-align: left;
}

.fourth-bottom {
  display: flex;
  flex-direction: row;
  gap: normal;
  justify-content: flex-start;
  padding-inline: 4px;
}

.fourth-bottom {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.fourth-blue {
  padding: 8px;
  white-space: normal;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #0078d4;
  height: 35px;
  width: 34.7px;
  justify-content: center;
}

.fourth-blue::before {
  font-family: mwff;
  content: "";
  font-weight: 400;
  line-height: 15px;
  font-size: 15px;
  color: white;
}

.view-all {
  font-family: latest;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 20px;
  padding-bottom: 2px;
  color: #004275;
}

/* fifth-container */

.fifth-container {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  background-color: #f4fafd;
}

.fifth-contain {
  padding-right: 16px;
  padding-left: 16px;
  margin-inline: auto;
}

.fifth-head {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}

.fifth-main-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 32px;
}

.fit-body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: normal;
  /* padding-left: 4px; */
  padding-right: 4px;
  width: 100%;
}

.ft-body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.fifth-body {
  position: relative;
  margin-top: 32px;
  text-align: left;
}

.fifth-flex {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 32px;
  background-color: #f4fafd;
  padding-inline: 4px;
}

.fifth-image-body {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
  display: grid;
  height: 100%;
  position: relative;
  width: 100%;
  grid-area: 1 / 1;
  z-index: 1;
  overflow: hidden;
  background-color: #f4fafd;
}

.fifth-image-div {
  object-fit: cover;
  position: relative;
  width: 100%;
  border-radius: 16px;
  max-width: 100%;
  height: 100%;
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/54300-Products-And-Services-01-320x616?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=656&hei=1284&qlt=100&fit=constrain);
}

/* .fifth-image-div::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(244, 250, 253, 0) 0%, rgb(244, 250, 253) 100%);
  z-index: 0;
} */

.fifth-img img {
  /* height: 100%; */
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  box-sizing: border-box;
}

.fifth-img-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.no-content {
  height: 220px;
  display: block;
  box-sizing: border-box;
}

.fifth-img-text {
  align-items: flex-start;
  opacity: 1;
  display: flex !important;
  flex-direction: column;
  gap: 12px;
}

.fifth-img-text h3 {
  font-family: latest;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.36px;
  line-height: 32px;
}

.fifth-img-bot {
  display: flex;
  gap: 12px !important;
  align-items: flex-start;
  flex-direction: column;
}

.fifth-img-bot span {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  font-family: latest;
  letter-spacing: -0.48px;
}

.fifth-contents {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 12px;
  box-sizing: border-box;
  flex-direction: column;
}

.fifth-content-main {
  padding: 16px;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  display: flex;
  min-width: 1px;
  word-wrap: break-word;
  background-clip: border-box;
  height: 100%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 4px 8px 0px;
  border-radius: 16px;
}

.fcontent-head {
  display: flex;
  margin-bottom: auto;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  gap: 12px;
}

.content-img {
  display: inline-flex;
  align-items: center;
  height: 46px;
  width: 46px;
  border-radius: 8px;
  border: 1px solid #e6f2fb;
  line-height: 16px;
  align-items: center;
  justify-content: center;
}

.content-img img {
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  font-size: 24px;
  object-fit: cover;
  aspect-ratio: auto;
  box-sizing: border-box;
}

.azure-head {
  align-items: flex-start;
  text-align: left;
  gap: 12px;
  flex-direction: column;
  display: flex !important;
  box-sizing: border-box;
}

.azure-head h4 {
  display: flex !important;
  flex-direction: column;
  gap: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: normal;
  font-family: latest;
}

.azure-head span {
  font-family: latest;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
}

.explore-product {
  margin-top: 32px;
  justify-content: flex-start;
  flex-direction: row;
  gap: normal;
  display: flex;
}

.explore-product span {
  font-size: 14px;
  line-height: 20px;
  font-family: latest;
  text-decoration: underline;
  display: inline-flex;
  color: #004275;
  text-underline-offset: 2px;
  letter-spacing: normal;
  gap: 8px;
  align-items: center;
  font-weight: 600;
  padding-bottom: 2px;
}

/* sixth-container */

.sixth-main-container {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  background-color: #f4fafd;
}

.sixth-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: unset;
  max-height: 100%;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.sixth-body {
  padding-inline: 20px;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  z-index: 1;
}

.sixth-contain {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  flex-direction: column;
  gap: 12px;
  align-items: normal;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
  border: 1px solid #e6f2fb;
  word-wrap: break-word;
  border-radius: 16px;
  background-color: white;
}

.sixth-head-img {
  padding-inline: 8px;
  padding-top: 8px;
  background-color: white;
  border-radius: 16px;
}

.sixth-head-img img {
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 1.33333;
  width: 100%;
  max-width: 100%;
  display: block;
}

.sixth-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  padding-inline: 12px;
  padding-bottom: 16px;
  padding-top: 44px;
}

.sixth-content {
  display: flex;
  gap: 12px;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.sixth-heading {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.36px;
  font-family: latest;
  line-height: 32px;
}

.sixth-body-text {
  font-weight: 400;
  font-family: latest;
  letter-spacing: -0.54px;
  font-size: 18px;
  line-height: 28px;
}

.sixth-bottom {
  padding-inline: 12px;
  padding-bottom: 16px;
  padding-top: 4px;
}

.seventh-head {
  padding-inline: 35px;
  padding-top: 48px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  margin-inline: auto;
}

.resource {
  margin-bottom: 12px;
  font-family: latest;
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.96px;
}

.transform {
  font-family: latest;
  font-size: 32px;
  letter-spacing: -0.8px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

/* seventh-container */

.seventh-container {
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/120999-Resources-by-role-Background-1600x968?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1016&qlt=100&fit=constrain);
}

.seventh-main-container {
  position: relative;
  box-sizing: border-box;
  margin-top: -60px;
  padding-inline: 16px;
  max-width: 1136px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.seventh-scroll-section {
  position: relative;
  z-index: 1;
  padding-inline: 34px;
}

.seventh-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.seventh-scroll-width {
  width: 1332px;
  padding-left: 6px;
  padding-bottom: 8px;
  padding-top: 8px;
  align-items: center;
  display: flex !important;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: nowrap;
  position: relative;
  z-index: 0;
  justify-content: center;
}

.seventh-scroll-content {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  color: #000;
  z-index: 1;
  border: 1px solid #bdc5d2;
  border-style: solid;
  max-width: 221.333px;
  width: 100%;
  border-bottom: none;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;
}

.seventh-scroll-text {
  background: #fefefe;
  overflow: hidden;
  padding-inline: 16px;
  padding-top: 12px;
  padding-bottom: 16px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.ss-text {
  background: #fefefe;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
  padding-inline: 16px;
  padding-top: 12px;
  padding-bottom: 16px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.scroll-text {
  font-family: latest;
  font-weight: 600;
  color: #0e1726;
  align-items: center;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
}

.scroll-line {
  opacity: 1;
  height: 4px;
  background-color: #004275;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.seventh-scroll-button {
  display: block;
  padding-bottom: 40px;
  margin-top: 24px;
  position: relative;
  color: #004275;
}

.button-left-arrow {
  left: -4px;
  background-image: linear-gradient(270deg, 25%, 100%);
  border: 2px solid #004275;
  border-radius: 200px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 36px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .2;
}

.button-left-arrow::after {
  font-family: mwff;
  color: #004275;
  font-weight: 600;
  content: "";
  font-size: 18px;
}

.button-right-arrow {
  left: 48px;
  right: -4px;
  background-color: linear-gradient(270deg, var(--arrow-background-color, #f2f2f2) 25%, rgba(242, 242, 242, 0) 100%);
  border: 2px solid #004275;
  border-radius: 200px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 36px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-right-arrow::after {
  font-family: mwff;
  color: #004275;
  font-weight: 600;
  content: "";
  font-size: 18px;
}

.seventh-main-body {
  position: relative;
  padding-top: 24px;
  padding-bottom: 48px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-inline: 20px;
}

.seventh-body-head {
  align-items: center;
  text-align: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}

.optimize {
  font-family: latest;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  text-align: center;
  color: #17253d;
}

.seventh-img {
  padding: 16px;
  margin-top: 24px;
  position: relative;
  display: flex;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;
  overflow: hidden;
}

.seventh-img img {
  aspect-ratio: 1.77778;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

/* eighth-container */

.eighth-main-container {
  color: #dceef8;
  padding-block: 56px;
  position: relative;
  background: #4a4a49;
  text-align: left;
  box-sizing: border-box;
}

.eighth-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: unset;
  max-height: 100%;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}

.eighth-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  aspect-ratio: auto;
  box-sizing: border-box;
}

.eighth-main-body {
  padding-inline: 16px;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  flex-direction: column;
}

.eighth-heading h2 {
  font-family: latest;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
  color: #f4fafd;
  text-align: center;
}

.eighth-body {
  padding-inline: 16px;
  margin-top: 16px;
  font-family: latest;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: 24px;
  color: #dceef8;
  text-align: center;
}

.eighth-bottom {
  margin-top: 24px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.eighth-button {
  white-space: normal;
  border: 2px solid transparent;
  padding: 12px;
  border-radius: 8px;
  background-color: #b3daf0;
}

.eighth-button span {
  font-family: latest;
  color: #0e1726;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 24px;
}

/* ninth-container */

.ninth-main-container {
  padding-block: 56px;
  position: relative;
  background-color: #f4fafd;
  text-align: left;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
}

.ninth-container-head {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
  position: relative;
  flex-direction: column;
  gap: 8px;
  padding-inline: 16px;
}

.ninth-head-section {
  display: flex;
  flex-direction: column;
}

.ninth-head-button {
  white-space: normal;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #17253d;
  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 8px;
}

.ninth-head-button span {
  font-family: latest;
  color: #004275;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.3px;
  line-height: 24px;
  text-align: center;
}

.ninth-main-body{
  padding-inline: 21px;
  position: relative;
}

.ninth-container-body {
  margin-top: 32px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  gap: 32px;
  align-items: normal;
  max-width: 100%;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  scroll-snap-align: start;
  scrollbar-width: none;
}

.ninth-scroll {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #fefefe;
  border-radius: 16px;
  flex-wrap: wrap;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  border-radius: 16px;
  flex-shrink: 0;
  width: 100%;
}

.ninth-scroll-head {
  padding-inline: 8px;
  padding-top: 8px;
  max-width: 100%;
  border-radius: 16px;
}

.ninth-scroll-head img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  max-width: 100%;
  object-fit: cover;
  overflow: clip;
}

.ninth-scroll-main-content {
  display: flex;
  gap: 12px;
  padding-inline: 16px;
  padding-top: 12px;
  padding-bottom: 16px;
  height: auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.ninth-scroll-content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: relative;
  flex: 1 1 auto;
  min-width: 1px;
  word-wrap: break-word;
  height: 100%;
  box-sizing: border-box;
}

.ninth-content{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ninth-body-top {
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  display: flex;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.ninth-body-top img {
  aspect-ratio: 2.33333 / 1;
  object-fit: fill;
  width: 149.938px;
  max-width: 100%;
  height: 64.2625px;
  border: 1px solid #bdc5d2;
  border-radius: 8px;
}

.ninth-bold{
  font-family: latest;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
  color: #17253d;
  margin-bottom: 27px;
  display: block;
}

.ninth-text{
  font-family: latest;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.48px;
  color: #17253d;
  margin-bottom: 16px;
  display: block;
}

.ninth-scroll-bottom{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 12px;
}

.ninth-scroll-products{
  display: flex;
  gap: 8px;
  flex-direction: column;
  box-sizing: border-box;
}

.products{
  font-size: 14px;
  font-family: latest;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 20px;
  color: #0e1726;
  padding-bottom: 2px;
}

.products-main-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  box-sizing: border-box;
}

.products-main-list ul{
  display: flex;
  gap: 8px;
  flex-direction: row;
}

.products-main-list li{
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
}

.products-img{
  background-color: #fefefe;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  height: 32px;
  width: 32px;
  border: 1px solid #e6f2fb;
  border-radius: 8px;
}

.products-img img{
  object-fit: fill;
  width: 100%;
  height: 100%;
  max-width: 20px;
  max-height: 20px;
}

.products-text{
  color: #004275;
  font-family: latest;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  text-wrap: wrap;
}

.ninth-bottom-arrows{
  margin: auto;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 24px;
}

.ninth-left-arrow{
  background-image: linear-gradient(270deg, 25%, 100%);
  border: 2px solid #004275;
  border-radius: 200px;
  width: 49.2px;
  height: 49.2px;
  top: calc(50% - 36px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .2;
}

.ninth-left-arrow::after{
  font-family: mwff;
  color: #004275;
  font-weight: 600;
  content: "";
  font-size: 18px;
}

.ninth-right-arrow{
  background-color: linear-gradient(270deg, var(--arrow-background-color, #f2f2f2) 25%, rgba(242, 242, 242, 0) 100%);
  border: 2px solid #004275;
  border-radius: 200px;
  width: 49.2px;
  height: 49.2px;
  top: calc(50% - 36px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ninth-right-arrow::after{
  font-family: mwff;
  color: #004275;
  font-weight: 600;
  content: "";
  font-size: 18px; 
}

.tenth-main-container{
  padding-block: 32px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.tenth-bg{
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  transform: unset;
  overflow: hidden;
  display: block;
  max-height: 100%;
  box-sizing: border-box;
}

.tenth-bg img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  aspect-ratio: auto;
}

.tenth-container{
  padding-inline: 24px;
  position: relative;
  margin-inline: auto;
}

.tenth-head h2{
  font-family: latest;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.8px;
  color: #0e1726;
  text-align: center;
}

.tenth-main-content{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  opacity: 1;
  gap: 8px;
  flex-wrap: wrap;
}

.tenth-content{
  border-radius: 16px;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.12),0 0.125rem 0.25rem rgba(0, 0, 0, 0.14);
  background-color: #fefefe;
  height: 100%;
  position: relative;
  padding: 16px; 
  display: flex;
  flex-direction: column;
}

.tenth-content-text{
  align-items: flex-start;
  text-align: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 12px;
}

.tenth-text-head{
  font-family: "Segoe UI Variable Display", "Segoe UI", latest, "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 20px;                                 
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 28px;
  color: #0e1726;
}

.tenth-text-body{
  font-family: latest;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;    
  letter-spacing: -0.48px;
  color: #0e1726;
}

.tenth-button{
  margin-top: 32px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

/* eleventh-container */

.eleventh-main-container{
  background-color: #f7f7f7;
  box-sizing: border-box;
  padding-inline: 16px;
  padding-bottom: 24px;
  padding-top: 24px;
  margin-inline: auto;  
}

.eleventh-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  max-width: 100%;
  /* padding-inline: 12px;
  padding-top: 8px; */
  box-sizing: border-box;
  align-content: flex-start;
}

.eleventh-azure-app{
  background-color: #e6e6e6;
  margin-top: 8px;
  border: 2px solid transparent;
  padding-inline: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: center;
  display: flex;
  border-radius: 3.2px;
}

.azure-img{
  height: 24px;
}

.azure-img img{
  height: 24px;
  white-space: normal;
  margin-right: 8px;
  width: 24px;
}

.eleventh-azure-app span{
  font-size: 16px;
  font-family: "Segoe UI Variable Text", "Segoe UI", segoeui, "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 500;
  letter-spacing: -0.3px;
  line-height: 24px;
  height: 25px;
  color: #17253d;
}

.eleventh-app-list{
  margin-left: 12px;
}

.eleventh-app-list ul{
  margin-block: 8px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.eleventh-app-list li{
  margin-right: 24px;
}

.eleventh-app-list img{
  height: 25px;
  width: 24px;
}