/* font-family */

@font-face {
    font-family: mwfm;
    src: url(/font/mwfmdl2-v3.54.woff);
}

@font-face {
    font-family: mwff;
    src: url(/font/MWFFluentIcons.woff2);
}

@font-face {
    font-family: latest;
    src: url(/font/latest.woff2);
}

/* universal */

*{
    margin: 0;
    padding: 0;
}

/* head */

.nav-main {
    margin-bottom: 34px;
    border-bottom: 1px solid #e6e6e6;
    height: 53px;
    background: #fff;
}

.nav{
    position: relative;
    padding: 2px 0;
    display: flex;
}

.microsoft-logo{
    margin: 1px;
    padding: 9px 4px 10px 4px;
    display: block;
    position: absolute;
    left: calc(50% - 60px);
    height: auto;
}

.microsoft-logo img{
    width: 108px;
}

.search-button{
    left: 1px;
    padding: 16px 8px 8px 0px;
    margin-left: 2px;
    height: 32px;
    background: transparent;
    margin-right: 6px;
    white-space: nowrap;
    line-height: 18px;
    border: none;
}

.search-button::after{
    white-space: nowrap;
    line-height: 18px;
    font-family: mwfm;
    content: "";
    border: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 7px;
    position: relative;
}

.azure-b{
    left: 0;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    display: block !important;
    height: 33px;
    position: absolute;
    width: 100%;
    top: 54px;
}

.azure-button{
    background-color: transparent;
    border: 0;
    color: #000;
    display: block !important;
    font-weight: 600;
    height: 100%;
    margin: 0 1px;
    padding: 0 15px;
    text-align: left;
    font-size: 15px;
    font-family: latest;
}

.azure-button::after{
    font-family: mwfm;
    content: "";
    font-size: 12px;
    font-weight: 700;
    padding-left: 12px;
    position: relative;
    top: 2px;
}

/* body */

.top-section{
    padding-bottom: 85px;
    background-color: #f4fafd;
}

/* banner */

.banner{
    overflow: hidden;
    max-height: 100%;
    display: block;
    background-color: #f4fafd;
}

.banner-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.container-first{
    /* width: 100%; */
    padding-inline: 16px;
    margin-inline: auto;
    background-color: #f4fafd;
}

.contain-row{
    display: flex;
    flex-wrap: wrap;
    margin-inline: -4px;
}

.contain-col{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-inline: 4px;
}

.contain-sec{
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 8px;
    text-align: left;   
}

.cfir-text{
    display: block;
    margin-inline: 0px;
    padding-block: 0px;
}

.innovation-head{
    margin-bottom: 12px;
    color: #17253d; 
    font-family: latest;
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 16px;
    font-size: 12px;
}

.cfir-text h1{
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 48px;
    color: #0e1726;
    font-family: latest;
    display: block;
}

.cfir-text p{
    font-weight: 400;
    font-family: latest;
    line-height: 24px;
    letter-spacing: -0.48px;
    font-size: 16px;
    color: #17253d;
    margin-top: 16px;
    padding-right: 16px;
}

.cfir-text-bottom{
    margin-top: 24px;
}

.cfir-button{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cfir-start{
    white-space: normal;
    border: 2px solid transparent;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    line-height: 22px;
    background-color: #0078d4;
} 

.cfir-start span{
    font-family: latest;
    line-height: 22px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-align: center;
}

.cfir-explore{
    background-color: transparent;
    border: 2px solid #17253d;
    line-height: 22px;
    border-radius: 8px;
    display: inline-block;
    padding: 12px;
    white-space: normal;
}

.cfir-explore span{
    color: #004275;
    font-size: 15px;
    font-family: latest;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-align: center;
    line-height: 22px;
}

.cfir-img{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.cfir-img img{
    max-width: 100%;
    object-fit: fill;
    border-radius: 8px;
}

/* body-section */

.featured-main{
    align-items: center;
    /* display: flex !important; */
    height: 51px;
    border-radius: 8px;
    /* flex-direction: column; */
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
    width: 100%;
    /* margin-inline: auto; */
    flex-grow: 1;
}

.news-main{
    margin: 4px;
    display: block;
    /* width: 100% !important; */
}

.news{
    padding: 12px;
    gap: 8px;
    align-items: center;
    display: flex;
}

.news span{
    flex-grow: 1 !important;
    display: flex;
    flex-direction: column !important;
    row-gap: 4px;
    text-align: left;
    color: #004275;
    font-family: latest;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: normal;
} 

.blue-arrow::before{
    font-family: mwff;
    content: "";
    font-weight: 400;
    line-height: 1;
    color: #0078d4;
    font-size: 16px;
}

.blue-line{
    height: 4px;
    width: 100%;
    background-color: #004275;
}

.ai-main{
    background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/54300-AI-Powered-Assistant-Background-1600x320?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=320&qlt=100&fit=constrain);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ai-assistant{
    /* background-color: linear-gradient(131deg, rgb(0, 50, 89) 0%, rgb(9, 31, 44) 50.25%, rgb(0, 66, 117) 100%); */
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    text-align: left;
    align-items: normal;
}

.ai-ban{
    background-image: linear-gradient(131deg, rgb(0, 50, 89) 0%, rgb(9, 31, 44) 50.25%, rgb(0, 66, 117) 100%);
    padding-block: 24px;
    line-height: 24px;
}

.ai-container{
    padding-inline: 16px;
    line-height: 24px;
    display: block;
}

.ai-layout{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ai-desc{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    text-align: left;
    opacity: 1;
}

.desc-sec{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.desc-top{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.desc-img{
    height: auto;
    max-width: 100%;
    display: block;
}

.desc-img img{
    height: 50px;
    max-width: 100%;
}

.desc-head{
    display: flex !important;
    gap: 4px !important;
    flex-direction: column;
}

.desc-head h2{
    white-space: nowrap !important;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 28px;  
    color: #f4fafd;
    font-family: latest;
}

.desc-head span{
    font-family: latest;
    color: #dceef8;
    font-size: 16px;
    letter-spacing: -0.48px;
    font-weight: 400;
    line-height: 24px;
}

.desc-p{
    font-weight: 400;
    font-size: 12px;
    font-family: latest;
    line-height: 24px;
    color: #dceef8;
    line-height: 16px;
    letter-spacing: -0.36px;
}

.ai-search{
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.ai-bar{
    position: relative;
    width: 100%;
    max-width: 656px;
    border: none;
    background-color: #fefefe;
    border-radius: 8px;
    align-items: flex-end;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;
    gap: 8px;
    display: flex;
}

.search-ai{
    display: flex;
    align-items: center;
    width: 100%;
}

.search-ai input{
    background-color: transparent;
    width: 100%;
    border: none;
    padding-block: 24px;
    padding-inline-start: 12px;
    padding-inline-end: 60px;
    border-radius: 8px;
}

input::placeholder{
    font-size: 16px;
}

.input-button{
    padding: 14px;
    background-color: transparent;
    border: none;
}

.search-line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-image: linear-gradient(90deg, rgb(10, 134, 196) 0.3%, rgb(113, 237, 232) 100%);
}

